/* src/styles/footer.css */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  /* Increase the height for better visibility */
  height: 300px;
  background-color: black;
  
  /* Other styling for the footer container */
}
img{
  height:70px;
  width:120px
}
.firstSection {
  flex: 1;
  margin-right: 180px;
  text-align: justify;
  color: white; /* Adjust the margin-right value as needed */
  /* Other styling for individual sections */
}

.secondSection {
  flex: 1;
  color: white;
   /* Adjust the margin-right value to move it more to the left */
 
}
.linkContainer {
  display: flex;
  flex-direction: column;
}
.iconimages{
  display: flex;
}
.icon {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px; /* Add margin between icons if needed */
}

.footerLink {
  text-decoration: none; /* Remove underlines */
  color: white; /* Set text color to white */
  margin-bottom: 10px; /* Add some space between links */
}

.thirdSection{
  flex:1;
  color:white;
  margin-right: 90px;
  margin-left: 50px;
}
.fourthSection {
  flex: 1;
  /* Keep margin-right for spacing between other sections */
  /* Adjust the margin-right value to move it more to the right */
  color: white;
  margin-left: 50px;
  /* Other styling for individual sections */
}

/* Additional styling for the second, third, and fourth sections */
.secondSection h5,
.thirdSection h5,
.fourthSection h4 {
  margin-bottom: 10px;
  color: white;
  /* Additional styling for heading elements in these sections */
}

/* Adjust spacing and other styles as needed */
